body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 500px;
  margin: 20px auto;
}
.form {
  background-color: #e1dbdb;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.input {
  padding: 10px;
  border: 1px solid #ac8585;
  border-radius: 6px;
  flex: 1;
}
.input:focus {
  outline: none;
}
.add {
  border: none;
  background-color: #a03434;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.tasks {
  background-color: #dfd6d6;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}
.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}
.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}
.tasks .task:hover {
  background-color:#f7f7f7;
}
.tasks .task.done {
  opacity: 0.5;
  text-decoration: line-through;
}
.tasks .task span {
  font-weight: bold;
  font-size: 10px;
  background-color: rgb(248, 20, 20);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}